@CHARSET "UTF-8";
.parent-holder {width:500px;margin:auto;}
.parent-div{ display:inline;}
.question-header {margin-top:20px;}
.question-holder { width: 650px; margin:auto;border:solid #DDD 1px;padding:10px;margin-top:20px;}
.nav-tabs,.tab-footer,.tab-content{margin:auto;}
.nav-tabs {margin-top:20px;width:672px;}
.tab-footer,.tab-content{border:solid #DDD; border-width:0 1px 1px 1px;width:650px; padding:10px;cursor:default;}
.tab-footer span,.tab-footer label{display:inline;cursor:default;}
.button-group {margin-top:10px;}
.modal-with-editor {width: 710px;margin-left: -355px;}
.score-holder div {display:inline-block;}
.score-holder input {margin-top:0px;margin-bottom:5px;margin-left:5px;margin-right:5px;}
.select-box {width: 125px;}
.course-select-box {width: 100px;}