.alertBox{ width:300px; margin:auto; margin-bottom: 10px;}


#courseId_chzn {position: absolute;}
.status-controls label {margin-top:4px;display:inline-block;}
.status-controls input {margin-top:0px;}
@media  (max-width:480px){
	#sectionModal ,#searchSectionModal{
		left:50%;
		margin-left:-125px;
		width:250px;
	}
	.input100 { width: 100%; box-sizing: border-box; min-height: 30px;}
	.action-column{ width: 60px;}
}

@media  (min-width:481px) and (max-width: 767px){
	
	#sectionForm > .control-group > .control-label 
	,#searchSectionForm > .control-group > .control-label {width:90px;}
	#sectionForm > .control-group > .controls 
	,#searchSectionForm > .control-group > .controls {margin-left: 110px;}
	
	#sectionModal ,#searchSectionModal{
		left:50%;
		margin-left:-180px;
		width:360px;
	}
	.input100 { width: 100%; box-sizing: border-box; min-height: 30px;}
}
@media (min-width: 768px){
	
	#sectionForm > .control-group > .control-label 
	,#searchSectionForm > .control-group > .control-label {width:90px;}
	#sectionForm > .control-group > .controls 
	,#searchSectionForm > .control-group > .controls {margin-left: 110px;}

	#sectionModal ,#searchSectionModal{
		margin-left:-180px;
		width:360px;
	}
	#sectionModal .modal-body { padding:10px;}
}