@CHARSET "UTF-8";
body{padding-bottom:0px;}
.header-logo{display:none;}
.scrollspy-example {
padding:10px;
border:1px solid black;
overflow-y:scroll;
overflow-x:hidden;
}
.scrollspy-example div[id^=tab] { margin-top:10px;}
.question-panel,.answer-panel{
	border-width:1px;
	border-style:solid;
	border-color:#eee;
	padding:10px;
	margin:10px;
	margin-bottom:0px;
	background-color: white;
	width:95%;
}

.choosed {
	border-color:#f16325;
}
.navbar .nav  a.choosedA { color:black;}
.navbar .nav .active a.choosedA { color:white; }
#navbarExample {border-width:1px 0 0 0;border-style:solid;border-color: black;
	overflow:auto;width:100%; background-color:white;padding:0px;
	margin-bottom:0px;}
#navbarExample ul {margin:5px;}
.logoPage {width:200px;height:50px;margin-bottom:10px;}
#rightMenu {position:fixed}
#leftMenu label {display:inline;}
#doQuestion {display:inline;}
.hasCountdown {
	padding:10px;
	text-align:center;
	border: 1px solid #ccc;
	background-color: #eee;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
section {padding-top:50px;}
.did-answer > a,.did-answer > a:hover,.did-answer.active > a {color:black;}
.modal > .modal-body > font.error{color:#B94A48;}




