
body {
	padding-top: 60px;
 	padding-bottom: 40px;
}

@media (max-width: 480px) {
	body {
		padding-top:0px;
	}
    .modal.fade.in {
        top: 10px;
  	}
	.action-column {
		width:70px;
	}
	.grid-info {
		text-align:center;
	}
	.page-size-div{
		text-align:center;
		margin-bottom:15px;
	}
}
@media  (min-width:481px) and (max-width: 767px){
	body {
		padding-top:0px;
	}
    .modal.fade.in {
        top: 10px;
  	}
	.action-column {
		width:170px;
	}
	.button-holder{
		display:inline-block;
		width: 32%;
	}
	.grid-info {
		text-align:center;
	}
	.page-size-div{
		text-align:center;
		margin-bottom:15px;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	body {
		padding-top:0px;
	}
	.grid-pagination{
		float: right;
	}
	.action-column {
		width:170px;
	}
}

@media (min-width: 980px){
	.grid-pagination{
		float: right;
	}
}
.button-holder{
	margin-bottom:5px;
}
.header-logo {
  margin-bottom: 10px;
}
.login-form {
	padding:10px;
}
.login-btn { width:130px; }
.navbar .login-form .login-btn { margin-bottom:10px; }
.red-color { color: #F16325; } 

.sort-both i{ background: url('../img/sort_both.png') no-repeat center right;width:15px;height:15px; float:right; display: inline-block;}
.sort-asc i{ background: url('../img/sort_asc.png') no-repeat center right;width:15px;height:15px; float:right; display: inline-block; }
.sort-desc i{ background: url('../img/sort_desc.png') no-repeat center right;width:15px;height:15px; float:right;  display: inline-block;}

.sortable { cursor: pointer;}
.grid-info {margin-top:10px;}
.grid-toolbar {margin-bottom:10px;}
.grid-pagination,.page-size { margin:0px;}
.page-size {width:75px;}
.page-size-div {vertical-align: middle;padding-top:5px;}
.table-grid {margin-bottom:5px;}

.icon-word { width:16px;height:16px;background: url('../img/famfamfam/page_white_word.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-excel { width:16px;height:16px;background: url('../img/famfamfam/page_white_excel.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-powerpoint { width:16px;height:16px;background: url('../img/famfamfam/page_white_powerpoint.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-pdf { width:16px;height:16px;background: url('../img/famfamfam/page_white_acrobat.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-java { width:16px;height:16px;background: url('../img/famfamfam/page_white_cup.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-zip { width:16px;height:16px;background: url('../img/famfamfam/page_white_compressed.png') center center no-repeat;display: inline-block;text-indent: -9999px; }
.icon-folder { width:16px;height:16px;background: url('../img/famfamfam/folder.png') center center no-repeat;display: inline-block;text-indent: -9999px; }

label.valid {
  width: 16px;
  height: 16px;
  background: url('../img/famfamfam/accept.png') center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
label.warning {
  color: #C09853;
  font-weight: bold;
  padding: 2px 8px;
  margin-top: 2px;
}
font.error{color:#B94A48;}
.alertBox{ width:300px; margin:auto; margin-bottom: 10px;}
/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */













