
@media  (max-width:480px){
	.action-column {width: 95px;}
	 .btn-in-table {width: 90px;margin-bottom:5px;}
}

@media  (min-width:481px) and (max-width: 767px){
	.action-column {width: 95px;}
	 .btn-in-table {width: 90px;margin-bottom:5px;}
}
@media (min-width: 768px){
	.action-column {width: 250px;}
}